
<% studentWebsiteClass = locals.small ? 'student-website-small' : '' %>
<% studentGridClass = locals.small ? 'student-grid-small' : '' %>
<div class="student-grid <%= studentGridClass %>">
  <% students.forEach(student => { %>
    <div class="card-group">
      <div class="card">
        <div class="card-img-top">
            <img class="img-fluid student-website<%= studentWebsiteClass %>" src="<%= student.websiteImagePath %>">
          </a>
        </div>
        <div class="card-body mb-4">
          <h4 class="card-title"><%= student.name %></h4>
        </div>
        <div class="card-footer py-0">
         
          <div class="btn-show">
            <a class="btn btn-primary btn-edit" href="<%= student.url %>">Gallery</a>
            <% if(currentUser){ %>
              <a class="btn btn-primary btn-edit" href="/students/<%= student.id %>/edit">Edit</a>
              <%- include('../partials/deleteForm', { url: `/students/${student.id}` }) %> 
            <% } %>
          </div> 
        </div>
      </div>
    </div>
  <% }) %>
</div>


